<div class="container mt-5">
  <h1>Add a movie</h1>
  <br>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment, placeholder: 'what do you think about this movie?' %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
  <br>
  <%= link_to 'Return to list', list_path(@list) %>
</div>
